<div class="container">
  <div class="row" style="margin-top: 5%">
    <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit(questionnaireForm)" style="width: 100%">
      <mat-accordion multi displayMode="flat">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Please complete all the fields.
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="col">
              <label style="font-size: 15px;">Body Temperature
                Level: {{temperatureValue}}</label>
              <mat-slider formControlName="temperature" style="width: 50%;margin-left: 15px;margin-top: 5px;"
                          color="primary" [thumbLabel]="true" [value]="temperatureValue"
                          (valueChange)="onTemperatureChange($event)"
                          tabIndex="0.1"
                          min="0" max="200" step="0.1"></mat-slider>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Parent Phone Number</mat-label>
                <input matInput placeholder="Enter Parent Phone Number" formControlName="parentPhoneNumber" maxlength="10">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter First Name" formControlName="firstName">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter Last Name" formControlName="lastName">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>Class</mat-label>
                <mat-select formControlName="class">
                  <mat-option>Choose class</mat-option>
                  <mat-option *ngFor="let class of classes" [value]="class">
                    {{class}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field color="primary">
                <mat-label>Date</mat-label>
                <input [value]="questionnaireForm.get('date').value" (click)="picker.open()" [max]="maxDate" [min]="minDate" matInput [matDatepicker]="picker" formControlName="date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker disabled="false"  #picker color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-accordion multi displayMode="flat">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Please answer all the questions.
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
          <table class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
              <th>Questions</th>
              <th>Yes/No</th>
            </tr>
            </thead>

            <tbody formArrayName="questionsAnswers">
            <tr *ngFor="let question of questionnaireForm.get('questionsAnswers')['controls']; let i = index" [formGroupName]="i">
              <td>{{question['controls']['question'].value}}</td>
              <td><mat-radio-group aria-label="Select an option" color="primary" formControlName="answer">
                <mat-radio-button value="1">Yes</mat-radio-button>&nbsp;
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group></td>
              <input formControlName="question" type="text" hidden>
            </tr>
            </tbody>
          </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <div class="row" style="margin-left: 3px;">
        <button [disabled]="questionnaireForm.invalid" type="submit" class="login-button" mat-raised-button
                color="primary">
          Submit
        </button>
        <div style="margin-left: 35px;" *ngIf="false">
          <mat-spinner [strokeWidth]="5" [diameter]="40"></mat-spinner>
        </div>
      </div>
      <br><br>
    </form>
  </div>
</div>
